<div class="aboutus_haikei">

    <div class="aboutus_haikei2">
        <div class="aboutus_haikei3">
            <div class="aboutUstitle">
                <span>会社概要</span>
            </div>
            <h2></h2>
            <div class="aboutUscontent">
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        名称
                    </div>
                    <div class="aboutUstext">
                        株式会社拍子木塾
                    </div>
                    <div class="line"></div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        住所
                    </div>
                    <div class="aboutUstext">
                        〒315-0015<br>茨城県石岡市貝地2-2-25
                    </div>
                    <div class="line"></div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        代表者
                    </div>
                    <div class="aboutUstext">
                        程　瑶琳
                    </div>
                    <div class="line"></div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        設立日
                    </div>
                    <div class="aboutUstext">
                        2019年1月1日
                    </div>
                    <div class="line"></div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        サービス内容
                    </div>
                    <div class="aboutUstext">
                        児童向け中国語教室の運営
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>



</div>

