<div class="how_much_haikei">
    <div class="kobetsupage">
        <ul class="kobetsupage2" >
            <li>
                <a href="/hyoshigis/why" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten pinku"></div>
                </div>
                <p class="link_moji"><span>中国語</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten kiiro"></div>
                </div>
                <p class="link_moji"><span>拍子木塾</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what_kind" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten midori"></div>
                </div>
                <p class="link_moji"><span>授業</span></p>
            </li>
            <li>
                <a href="/hyoshigis/where" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten ao"></div>
                </div>
                <p class="link_moji"><span>教室</span></p>                    
            </li>
            <li>
                <a href="/hyoshigis/more" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten murasaki"></div>
                </div>
                <p class="link_moji"><span>Q & A</span></p>
            </li>
        </ul>
    </div>
    
    <div class="how_much_haikei2">
        <div class="pricetitle">
            <span>分かりやすい料金設計</span>
        </div>
        <div class="pricewords">
            <div class="pricetitle2">
                <span>入会費、年会費、教材費　なし</span>
            </div>
            <div class="pricewords2">
                <span>月謝以外、入会費等<br>その他の費用は一切いただいておりません。</span>
            </div>
        </div>
        
        <div class="pricewords">
            <div class="pricetitle2">
                <span>税込み価格</span>
            </div>
            <div class="pricewords2">
                <span>全ての料金は税込み価格となっております。</span>
            </div>
        </div>
        
        <div class="pricewords">
            <div class="pricetitle2">
                <span>料金一律</span>
            </div>
            <div class="pricewords2">
                <span>各クラスの料金は一律。<br>
                一回一回の授業に真摯に向き合っています。<br>
                そのため、取っていただいた授業回数による<br>
                割引は設けておりません。</span>
            </div>
        </div>        
    </div>
    
    <div class="how_much_haikei3">
        <div class="price">
            <span>少人数クラス</span>
        </div>
        <p class="price2">
            週１回：　<span>１０,０００円</span>
        </p>
        <p class="price2">
            週２回：　<span>２０,０００円</span>
        </p>
    </div>

    <div class="how_much_haikei3">
        <div class="price">
            <span>個別クラス</span>
        </div>
        <p class="price2">
            週１回：　<span>３０,０００円</span>
        </p>
        <p class="price2">
            週２回：　<span>６０,０００円</span>
        </p>
    </div>    


</div>

