<div class="how_much_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>
        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <a href="/hyoshigis/why" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten pinku"></div>
                </div>
                <p class="link_moji"><span>中国語</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten kiiro"></div>
                </div>
                <p class="link_moji"><span>拍子木塾</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what_kind" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten midori"></div>
                </div>
                <p class="link_moji"><span>授業</span></p>
            </li>
            <li>
                <a href="/hyoshigis/where" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten ao"></div>
                </div>
                <p class="link_moji"><span>教室</span></p>                    
            </li>
            <li>
                <a href="/hyoshigis/more" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten murasaki"></div>
                </div>
                <p class="link_moji"><span>Q & A</span></p>
            </li>
        </ul>
    </div>
    <div class="how_much_haikei2">
        <div class="pricetitle">
            <span>分かりやすい料金設計</span>
        </div>
        <div class="pricewords">
            <div class="pricetitle2">
                <span>入会費、年会費、教材費　なし</span>
            </div>
            <div class="pricewords2">
                <span>学費は月謝のみ。<br>その他の費用は一切いただいておりません。</span>
            </div>
        </div>
        
        <div class="pricewords">
            <div class="pricetitle2">
                <span>税込価格</span>
            </div>
            <div class="pricewords2">
                <span>全ての料金は税込価格となっております。</span>
            </div>
        </div>
        
        <div class="pricewords">
            <div class="pricetitle2">
                <span>料金一律</span>
            </div>
            <div class="pricewords2">
                <span>各クラスの料金は一律。<br>
                一回一回の授業に真摯に向き合っています。<br>
                そのため、取っていただいた授業回数による<br>
                割引は設けておりません。</span>
            </div>
        </div>        
    </div>
    
    <div class="how_much_haikei3">
        <div class="price">
            <span>少人数クラス</span>
        </div>
        <p class="price2">
            週２回：　<span>20,000円</span>
        </p>
        <p class="price2">
            週１回：　<span>10,000円</span>
        </p>
    </div>

    <div class="how_much_haikei3 how_much_haikei4">
        <div class="price">
            <span>個別クラス</span>
        </div>
        <p class="price2">
            週２回：　<span>60,000円</span>
        </p>
        <p class="price2">
            週１回：　<span>30,000円</span>
        </p>
    </div> 
    <div class="nextpage">
        <a href="/hyoshigis/where", class="nextpage2">
            <span>
               >> 教室はどこにあるの？
            </span>
        </a>
        <a href="#", class="totop">
            <span>
                topへ
            </span>
        </a>
    </div>
    <div class="companyname">
        <a class="modal-trigger" href="#modal1"><img alt="tsuke" src="/clapperr.svg"></a>
    </div>
    
    <div id="modal1" class="modal">
        <div class="modal-content">
          <!--<h4>Modal Header</h4>-->
          <p><br>  歌舞伎の舞台で、拍子木は幕開、幕切に打たれます。また役者の足音や決闘時の刀の音を表現します。この拍子木を打つ職人さんは舞台の目立たないところで、役者や舞台に花を添えています。<br><br>
  これから表舞台で活躍するお子さんの人生に花を添える存在でありたい、そういう願い込めて教室の名前を「拍子木塾」に致しました。
</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">閉じる</a>
        </div>
  </div>

</div>

<script>
// $(document).ready(function(){
//     $('.modal').modal();
// });

// $(function(){
// 	$("#menubtn").click(function(){
// 		$("#linkurl2").slideToggle();
// 	});
// });



// var scrollAnimationElm = document.querySelectorAll('.companyname');
// var scrollAnimationFunc = function() {
//     var triggerMargin = 100;
//     if (window.innerHeight > scrollAnimationElm[0].getBoundingClientRect().top + triggerMargin) {
//       scrollAnimationElm[0].classList.add('show');
//     }
// }
// window.addEventListener('load', scrollAnimationFunc);
// window.addEventListener('scroll', scrollAnimationFunc);


// $(document).ready(function () { $('.modal').modal(); });
// $(function () {$('.modal').modal();});

//   document.addEventListener('DOMContentLoaded', function() {
//     var elems = document.querySelectorAll('.modal');
//     var instances = M.Modal.init(elems, options);
//   });


</script>