<div class="joudan clearfix">
   <div class="whypicture">
        <div class="picture">
        </div>

        <div class="why">
            <div class="why2">
                <a href="hyoshigis/why"></a>
                <!--<a href="#">どうして<br>中国語？</a>-->
                <span>どうして<br>中国語？</span>
            </div>
            <div class="why34 clearfix">
                <!--<a href="hyoshigis/why"></a>-->
                <div class="why3">
                    <span>中国語を勉強するメリット</span>
                </div>
                <div class="why4">
                    <span>
                        ・つける仕事の幅が広がる<br/>
                        ・触れる世界の幅が広がる<br/>
                        ・交流できる人が増える
                    </span>
                </div>
               <!--もっと詳しくのボタン-->
                <div class="mottokuwashiku">
                    <button class="btn waves-effect" type="submit" name="action">もっと詳しく
                        <i class="material-icons right">chat</i>
                        <a href="hyoshigis/why"></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="what">
        <div class="what2">
            <a href="hyoshigis/what"></a>
            <!--<a href="#">拍子木塾<br>って？</a>-->
            <span>拍子木塾<br>とは？</span>
        </div>
        <div class="what34 clearfix">
            <a href="hyoshigis/what"></a>
            <div class="what3">
                <span>拍子木塾が目指す<br/>中国語教育</span>
                <!--<a href="#"></a>-->
            </div>
            <div class="what4">
                <span>
                    ・標準な中国語<br/>
                    ・オリジナル教材<br/>
                    ・聞く、話すを重視
                </span>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">もっと詳しく
                    <i class="material-icons right">chat</i>
                    <a href="hyoshigis/what"></a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="gedan clearfix">
    <div class="what_kind">
        <div class="what_kind2">
            <a href="hyoshigis/what_kind"></a>
             <!--<a href="#">どんな<br>授業？</a>-->
            <span>どんな<br>授業？</span>
        </div>
        <div class="what_kind34 clearfix">
            <a href="hyoshigis/what_kind"></a>
            <div class="what_kind3">
                <span>どんな授業があるの？</span>
                <!--<a href="#">どんな授業があるの？</a>-->
            </div>
            <div class="what_kind4">
                <span>
                    ・徹底した少人数制<br/>
                    ・コース紹介<br/>
                    ・学習内容
                </span>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">もっと詳しく
                    <i class="material-icons right">chat</i>
                    <a href="hyoshigis/what_kind"></a>
                </button>
            </div>            
        </div>
    </div>
    
    <div class="how_much" id="test">
        <div class="how_much2">
            <a href="hyoshigis/how_much"></a>
            <!--<a href="#">料金<br>は？</a>-->
            <span>料金<br>は？</span>
        </div>
        <div class="how_much34 clearfix">
            <a href="hyoshigis/how_much"></a>
            <div class="how_much3">
                <span>授業料は？</span>
                <!--<a href="#">授業料は？</a>-->
            </div>
            <div class="how_much4">
                <span>
                    ・個別クラス<br/>
                    ・週1少人数クラス<br/>
                    ・週2少人数クラス
                </span>
                </a>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">もっと詳しく
                    <i class="material-icons right">chat</i>
                    <a href="hyoshigis/what_much"></a>
                </button>
            </div>   
        </div>       
    </div>
    
    <div class="where">
        <div class="where2">
            <a href="hyoshigis/where"></a>
            <!--<a href="#">教室は<br>どこ？</a>-->
            <span>教室は<br>どこ？</span>
        </div>
        <div class="where34 clearfix">
            <a href="hyoshigis/where"></a>
            <div class="where3">
                <span>教室はどこにあるの？</span>
                <!--<a href="#">教室はどこにあるの？</a>-->
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">もっと詳しく
                    <i class="material-icons right">chat</i>
                    <a href="hyoshigis/where"></a>
                </button>
            </div>   
        </div>
    </div>
    
    <div class="more">
        <div class="more2">
            <a href="hyoshigis/more"></a>
            <!--<a href="#">もっと<br>知りたい</a>-->
            <span>もっと<br>知りたい</span>
        </div>
        <div class="more34 clearfix">
            <a href="hyoshigis/more"></a>
            <div class="more3">
                <span>もっと知りたい！</span>
                <!--<a href="#">もっと知りたい！</a>-->
            </div>
            <div class="more4">
                <span>
                    ・Q & A<br/>
                    ・お問合せ<br/>
                    ・体験会
                </span>
            </div>
            <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">もっと詳しく
                    <i class="material-icons right">chat</i>
                    <a href="hyoshigis/more"></a>
                </button>
            </div>
        </div>
    </div>
</div>
