<div class = "more_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>

        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <a href="/hyoshigis/why" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten pinku"></div>
                </div>
                <p class="link_moji"><span>中国語</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten kiiro"></div>
                </div>
                <p class="link_moji"><span>拍子木塾</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what_kind" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten midori"></div>
                </div>
                <p class="link_moji"><span>授業内容</span></p>
            </li>
            <li>
                <a href="/hyoshigis/how_much" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten ao"></div>
                </div>
                <p class="link_moji"><span>料金</span></p>
            </li>
            <li>
                <a href="/hyoshigis/where" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten murasaki"></div>
                </div>
                <p class="link_moji"><span>教室</span></p>                    
            </li>
        </ul>
    </div>
    
    <div class = "more_haikei2">
        <p class="dai"><span>よくある質問</span></p>
        <div class="questions">
            <div class="q_title">
                <span>❶　どんな支払い方法がありますか。</span>
            </div>
            <div class="q_answer">
                <span>
                    口座振込、またはクレジットカードにてお支払いいただけます。
                </span>
            </div>
        </div>
        
         <div class="questions">
            <div class="q_title">
                <span>❷　11歳以上の子どもは入会できますか。</span>
            </div>
            <div class="q_answer">
                <span>
                    大変恐縮ですが、現時点では３−10歳までのお子さんのみのご対応となります。
                </span>
            </div>
        </div>
        
         <div class="questions">
            <div class="q_title">
                <span>❸　自宅で受講できるオンライン授業はありますか。</span>
            </div>
            <div class="q_answer">
                <span>
                    授業の質や生徒さんの進度をきちんと把握したいので、教室での授業のみとさせていただいております。
                </span>
            </div>
        </div>

         <div class="questions">
            <div class="q_title">
                <span>❹　合わなかった時、辞めることはできますか。</span>
            </div>
            <div class="q_answer">
                <span>
                    月謝制のため、お辞めになりたい前の月の20日までにおしらせ下さいませ。
                </span>
            </div>
        </div>
        
        <div class="botan">
            <div class="botan2">
                <a href="/inquiry"></a>
                <div class="botan_moji">
                    <span>お問合せ</span>
                </div>
            </div>
            <div class="botan3">
                <a href="/trial"></a>
                <div class="botan_moji">
                    <span>体験会申込</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // $(function(){
    // 	$("#menubtn").click(function(){
    // 		$("#linkurl2").slideToggle();
    // 	});
    // });
</script>