<div class="recruit_haikei">

    <div class="recruit_haikei2">
        <div class="recruit_haikei3">
            <div class="recruittitle">
                <span>採用情報</span>
            </div>
            <h2></h2>
            <div class="aboutUscontent">
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        □応募職種
                    </div>
                    <div class="aboutUstext">
                        1.非常勤中国語講師<br>
                        2.講師アシスタント
                    </div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        □仕事内容
                    </div>
                    <div class="aboutUstitle3">
                        1.非常勤中国語講師
                    </div>
                    <div class="aboutUstext2">
                        3−10歳の子どもに中国語を教える仕事
                    </div>
                    <div class="aboutUstitle3">
                        2.講師アシスタント
                    </div>
                    <div class="aboutUstext">
                        サテライト授業の際、<br>中国語講師をサポートする仕事
                    </div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        □勤務時間
                    </div>
                    <div class="aboutUstext">
                        平日12:00-21:00<br>土日10:00-19:00<br>以上の時間内で応相談
                    </div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        □募集条件
                    </div>
                    <div class="aboutUstitle3">
                        1.非常勤中国語講師
                    </div>
                    <div class="aboutUstext2">
                        ・中国語がネイティブの方（国籍不問）<br>・普通語水平標準テスト2級以上
                    </div>
                    <div class="aboutUstitle3">
                        2.講師アシスタント
                    </div>
                    <div class="aboutUstext">
                        ・日本語がネイティブの方<br>・中国語できる方優遇
                    </div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        □待遇
                    </div>
                    <div class="aboutUstitle3">
                        1.非常勤中国語講師
                    </div>
                    <div class="aboutUstext2">
                        時給　1300円〜
                    </div>
                    <div class="aboutUstitle3">
                        2.講師アシスタント
                    </div>
                    <div class="aboutUstext">
                        時給　900円〜
                    </div>
                </div>
                <div class="aboutUscontent2">
                    <div class="aboutUstitle2">
                        □応募方法
                    </div>
                    <div class="aboutUstext3">
                        メールにて担当者宛に履歴書をお送りください。<br>（写真添付のこと）<br>
                    </div>
                    <div class="aboutUstext3">
                        ＊採用の流れ：書類選考後、面接を実施<br>
                        メール：hyoshigis@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>