<div class = "what_kind_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>
        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <a href="/hyoshigis/why" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten pinku"></div>
                </div>
                <p class="link_moji"><span>中国語</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten kiiro"></div>
                </div>
                <p class="link_moji"><span>拍子木塾</span></p>
            </li>
            <li>
                <a href="/hyoshigis/how_much" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten midori"></div>
                </div>
                <p class="link_moji"><span>料金</span></p>
            </li>
            <li>
                <a href="/hyoshigis/where" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten ao"></div>
                </div>
                <p class="link_moji"><span>教室</span></p>                    
            </li>
            <li>
                <a href="/hyoshigis/more" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten murasaki"></div>
                </div>
                <p class="link_moji"><span>Q & A</span></p>
            </li>
        </ul>
    </div>

    <div class = "what_kind_haikei2">
        <div class="classtype">
            <span>授業形式</span>
        </div>
        <div class="hyou1 clearfix">
            <table class="hyou2">
                <tr>
                    <th>年齢</th>
                    <th>形式</th>
                </tr>
                <tr>
                    <td rowspan="2" class="table_width">３〜６歳</td>
                    <td>個別指導</td>
                </tr>
                <tr>
                    <td>グループ</td>
                </tr>
            </table>
            <table class="hyou3">
                <tr>
                    <th>年齢</th>
                    <th>形式</th>
                </tr>
                <tr>
                    <td rowspan="2" class="table_width">７〜１０歳</td>
                    <td>個別指導</td>
                </tr>
                <tr>
                    <td>グループ</td>
                </tr>
            </table>
        </div>
        <div class="setsumei">
            <span>
                ＊1　グループは最大5人までの少人数クラス<br>
                ＊2　個別・グループはどちらも50分間授業
            </span>
        </div>
    </div>

    <div class = "what_kind_haikei3">
        <div class="dekirukoto">
            <span>できるようになること</span>
        </div>
        <div class="dekirukoto2">
            <table class="dekirukoto3">
                <tr>
                    <th rowspan="2">レベル</th>
                    <th rowspan="2">できるようになること</th>
                    <th colspan="2">学習時間の目安</th>
                </tr>
                <tr>
                    <th>週２<br>（３〜６歳）</th>
                    <th>週２<br>（７〜１０歳）</th>
                </tr>
                <tr>
                    <td>１</td>
                    <td>発音が聞き取れるようになる</td>
                    <td>６ヶ月</td>
                    <td>３ヶ月</td>
                </tr>
                <tr bgcolor="#ffe6e6">
                    <td>２</td>
                    <td>身の回りの単語を話せる</td>
                    <td>１２ヶ月</td>
                    <td>６ヶ月</td>
                </tr>
                <tr>
                    <td>３</td>
                    <td>簡単な会話ができる</td>
                    <td>１８ヶ月</td>
                    <td>１２ヶ月</td>
                </tr>
                <tr bgcolor="#ffe6e6">
                    <td>４</td>
                    <td>学校の中のことが言える</td>
                    <td>ー</td>
                    <td>２４ヶ月</td>
                </tr>
            </table>
        </div>
        <div class="setsumei2">
            <span>
                ＊　７〜１０歳のクラスは<br>３〜６歳のクラスより少し難しくなっています。
            </span>
        </div>
    </div>
    
    <div class="what_kind_haikei4">
        <div class="schedule">
            <span>年間授業スケジュール</span>
        </div>
        <table class="schedule2">
            <tr>
                <th>年齢</th>
                <th>レベル</th>
                <th>授業数</th>
                <th>曜日</th>
                <th>時間</th>
            </tr>
            <tr>
                <td rowspan="2" class="table_width2">３〜６</td>
                <td rowspan="2">初級</td>
                <td>週１</td>
                <td>水</td>
                <td>１６:００〜１６:５０</td>
            </tr>
            <tr>
                <td>週２</td>
                <td>火、木</td>
                <td>１６:００〜１６:５０</td>
            </tr>
        </table>
        <table class="schedule3">
            <tr>
                <th>年齢</th>
                <th>レベル</th>
                <th>授業数</th>
                <th>曜日</th>
                <th>時間</th>
            </tr>
            <tr>
                <td rowspan="2">７〜１０</td>
                <td rowspan="2">初級</td>
                <td>週１</td>
                <td>水</td>
                <td>１７:００〜１７:５０</td>
            </tr>
            <tr>
                <td>週２</td>
                <td>火、木</td>
                <td>１７:００〜１７:５０</td>
            </tr>
        </table>
        <div class="setsumei3">
            <span>
                ＊　新しいクラスは毎年の2月、5月、8月、11月に開講します。
            </span>
        </div>
    </div>
    <div class="nextpage">
        <a href="/hyoshigis/how_much", class="nextpage2">
            <span>
               >> 授業料はいくらぐらい？
            </span>
        </a>
        <a href="#", class="totop">
            <span>
                topへ
            </span>
        </a>
    </div>
</div>
<script>
// $(function(){
// 	$("#menubtn").click(function(){
// 		$("#linkurl2").slideToggle();
// 	});
// });
</script>