<div class = "what_haikei">
    <div class="kobetsupage">
        <ul class="kobetsupage2" >
            <li>
                <a href="/hyoshigis/why" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten pinku"></div>
                </div>
                <p class="link_moji"><span>中国語</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what_kind" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten kiiro"></div>
                </div>
                <p class="link_moji"><span>授業内容</span></p>
            </li>
            <li>
                <a href="/hyoshigis/how_much" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten midori"></div>
                </div>
                <p class="link_moji"><span>料金</span></p>
            </li>
            <li>
                <a href="/hyoshigis/where" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten ao"></div>
                </div>
                <p class="link_moji"><span>教室</span></p>                    
            </li>
            <li>
                <a href="/hyoshigis/more" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten murasaki"></div>
                </div>
                <p class="link_moji"><span>Q & A</span></p>
            </li>
        </ul>
    </div>
    
    <div class="what_haikei2">
        <div class="whatIsHyoshigi">
            <span>拍子木塾は<br>以下の理念に沿った中国語教室を目指しています。</span>
            <div class="whatIsHyoshigi2">
                <span>・気軽に通える<br>・正しい中国語の発音が身につけられる<br>・知識や料金に安心感がある</span>
            </div>
        </div>
    </div>
    
    <div class="what_haikei3">
        <div class="teacher">
            <span>ハイレベルな教師</span>
        </div>
        <div class="teacher2">
            <span>
                中国国内で教師をするにあたり、教員免許以外に「普通語水平標準」という資格が必要になります。中国の普通語が標準かどうかを測るテストです。
            </span>
            <span class="aka">
                拍子木塾で授業をする先生は全てネイティブでかつ普通語水平標準テスト二級以上の資格を有しています。
            </span>
        </div>
        <div class="teacherTable">
            <span>普通語水平標準テストのレベルと職業要求</span>
        </div>
        <div class="teacherTable2">
            <table class="teacherTable3">
                <tr class="aka2">
                    <th>レベル別</th>
                    <th>職業要求</th>
                </tr>
                <tr>
                    <td>一級甲</td>
                    <td></td>
                </tr>
                <tr>
                    <td>一級乙</td>
                    <td>アナウンサー</td>
                </tr>
                <tr>
                    <td>二級甲</td>
                    <td>教師（高校以上）</td>
                </tr>
                <tr>
                    <td>二級乙</td>
                    <td>教師</td>
                </tr>
                <tr>
                    <td>三級甲</td>
                    <td>公務員</td>
                </tr>
                <tr>
                    <td>三級乙</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="what_haikei4">
        <div class="lessonflow">
            <span>レッスンの流れ</span>
        </div>
        <div class="lessonimage">
            <div class="lessonimage2">
                <img alt="lessonimage" src="/lessonimage2.svg">
            </div>
        </div>        
    </div>
    
    <div class="what_haikei5">
        <div class="speaking">
            <span>聴く、話す重視</span>
        </div>
        <div class="speaking2">
            <span>
                言語４技能のうち、拍子木塾では「聴く」「話す」を重視しています。なぜなら、<span class="speakingaka">1)小さい時の方が、正しい発音やアクセントが身につきやすいからです。</span><br><br>
                2)中国の漢字は日本のものと形が違うものが多く、読み書きを重視すると、お子さんが混乱するからです。
            </span>
        </div>
        <div class="speaking3 clearfix">
            <div class="speaking31">
                <div class="speaking3picture">
                    <img alt="speakingpicture" src="/speakingpicture2.svg">
                </div>
            </div>
        </div>
        
        <div class="speaking4">
            <span>
                小さい頃から自然な中国語の発音に触れさせ、そして、話させること。それが、拍子木塾の目指す中国語教育です。
            </span>
        </div>
    </div>
</div>

        <!--<div class="warmingup">-->
        <!--    <div class="warmingupbg">-->
        <!--        <div class="warminguptitle">-->
        <!--            <span>ウォーミングアップ</span>    -->
        <!--        </div>-->
        <!--        <div class="warmingupcontents">-->
        <!--            <span>・あいさつ<br>・直前の授業の復習<br>・それ以前の授業の復習</span>-->
        <!--        </div>                -->
        <!--    </div>-->
        <!--</div>-->
        <!--<div class="speaking3text">-->
        <!--    <span>-->
        <!--        また日中では同じ漢字でも書き方が違うものが多々あり混乱しやすい。-->
        <!--    </span>-->
        <!--</div>-->