<div class = "why_haikei">
    <div class="kobetsupage">
        <ul class="kobetsupage2" >
            <li>
                <a href="/hyoshigis/what" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten pinku"></div>
                </div>
                <p class="link_moji"><span>拍子木塾</span></p>
            </li>
            <li>
                <a href="/hyoshigis/what_kind" class="linkurl"></a>
                 <div class = "links3">
                    <div class = "ten kiiro"></div>
                </div>
                <p class="link_moji"><span>授業内容</span></p>
            </li>
            <li>
                <a href="/hyoshigis/how_much" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten midori"></div>
                </div>
                <p class="link_moji"><span>料金</span></p>
            </li>
            <li>
                <a href="/hyoshigis/where" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten ao"></div>
                </div>
                <p class="link_moji"><span>教室</span></p>                    
            </li>
            <li>
                <a href="/hyoshigis/more" class="linkurl"></a>
                <div class = "links3">
                    <div class = "ten murasaki"></div>
                </div>
                <p class="link_moji"><span>Q & A</span></p>
            </li>
        </ul>
    </div>
    
    <div class = "why_haikei2">
        <div class = "whychinese">
            <span>
                ーこれからの時代、中国語を勉強しましょうー
            </span>
        </div>
        <div class = "whychinese2">
            <span>
                凄まじい勢いで変化していく世の中、<br>
                20年、30年先まで使えるスキル、<br>
                我々は中国語がその一つと考えます。
            </span>
        </div>
        <div class= "whychinese3">
            <span class="whychinese31">
                理由：
            </span>
            <span class="whychinese32">
                世界経済における中国の存在感<br>中国語による情報量の増加<br>文化・IT面での追い上げ
            </span>
        </div>
    </div>
    
    <div class="why_haikei3">
        <div class="economy">
            <span>
                世界経済における中国の存在感
            </span>
        </div>
        <div class = "economy2">
            <span>
                かつて、日本が欧米に追い付こうと必死に頑張ってきました。今、日本の10倍以上の人口を持つ中国が、必死に日本や欧米に追い付こうと同じことをしています。<br><br>
                その人口規模と経済成長のスピードで、中国はすざましい勢いで豊かになっています。<br><br>
                かつて出稼ぎにきていた中国人留学生が、今はビジネスパートナーとして日本にやってきます。かつて、不法滞在が問題になった中国人が今、観光客となり、日本に年１兆円以上の経済効果をもたらしています。
            </span>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table4">
                    <img alt="gdp" src="/gdp2.svg">
                </div>
            </div>
            <div class="tabletext">
                <span>
                    アメリカに次ぐ世界で２位
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table5">
                    <img alt="tourist" src="/tourist4.svg">
                </div>
            </div>
            <div class="tabletext2">
                <span>
                    中国人観光客の数<br>
                    ４年で5倍に増加
                </span>
            </div>
        </div>
    </div>
    
    <div class="why_haikei4">
        <div class="information">
            <span>
                中国語による情報量の増加
            </span>
        </div>
        <div class = "information2">
            <span>
                経済規模の影響力以上に重要なのは、中国語による情報量の質と量の増加です。新しい技術や商品を生み出す際に大事になるのは大学の質、論文の数、そして特許の数です。その三つの面でも中国は存在感を増しています。
            </span>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table4">
                    <img alt="researcher" src="/researcher.svg">
                </div>
            </div>
            <div class="tabletext">
                <span>
                    中国の国際特許出願数
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table5">
                    <img alt="patent" src="/patent.svg">
                </div>
            </div>
            <div class="tabletext2">
                <span>
                    世界における<br>中国の研究者数
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table4">
                    <img alt="ranking" src="/ranking2.svg">
                </div>
            </div>
            <div class="tabletext">
                <span>
                    世界大学ランキング
                </span>
            </div>
        </div>
        <div class = "information3">
            <span>
                我々が英語を勉強する理由の一つにアメリカの最新の情報や書籍、知識を手に入れたいというがあります。これからは中国語の最新情報や一線の情報が着実に増えます。
            </span>
        </div>
    </div>

    <div class="why_haikei5">
        <div class="culture">
            文化・IT面での追い上げ
        </div>
        <div class="culturetext">
            最近、中国のIT関連のニュースをよく見ます。身の回りでもTikTokなどのアプリはじめ、アリペイ等の電子マネーや、アリババ、テンセント等のIT企業の名前をよく耳にするようになりました。<br><br>
            ネット上のサービスに国境はありません。いいものであれば、すぐに世界へ広がります。その中でも、中国のアプリや映画、ゲームは年々投資額が増え、日本でもリアルタイムでそれらを楽しむ日も遠くありません。<br><br>
            その時、中国語ができたら、接する世界が格段に広がると思いませんか。
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table4">
                    <img alt="game" src="/game2.svg">
                </div>
            </div>
            <div class="tabletext">
                <span>
                    国別ゲーム収益<br>ランキング
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table5">
                    <img alt="language" src="/language2.svg">
                </div>
            </div>
            <div class="tabletext2">
                <span>
                    世界で<br>話されている言語
                </span>
            </div>
        </div>
    </div>
</div>