<div class="trialfin_haikei">
    <div class="trialfin_haikei2">
        <div class="trnavigation">
            <img src="/kanryou3.svg" alt="navi">
        </div>
        <span class='trletter'>申込完了です</span>
        <h2></h2>
        <div class="trfinletter">
            <div class="trfinletter2">
                <span class="trfinletter3">
                    体験レッスンのお申し込みありがとうございます！<br><br>
                    先生・スタッフ一同、<br>教室にてお会いできることを楽しみにしております！<br><br>
                </span>
            </div>
        </div>
        <div class="returnbutton">
            <div class="returnbutton3">
                <div class="returnbutton2">
                    <a href='/'></a>
                    <div class="botan_moji">
                        <span>トップページへ</span>
                    </div>
                </div>
            </div>
            <div class="trfingif">
                <img src="/maomao.gif" alt="navi">
            </div>
        </div>
        <div class="trfinletter7">
            <span>
                ＊教室の地図や予約内容の確認をメールにてお送りいたします。<br>詳細をご確認ください。
            </span>
        </div>
    </div>
</div>
