<div class="infofin_haikei">
    <div class="infofin_haikei2">
        <div class="navigation">
            <img src="/kanryou3.svg" alt="navi">
        </div>
        <span class='infoletter'>完了です</span>
        <h2></h2>

        <div class="finletter">
            <div class="finletter2">
                <span class="finletter3">
                    資料請求ありがとうございます！<br>
                    ３営業日以内に郵送いたします。<br>
                    しばらくお待ちくださいませ。
                </span>
            </div>
            <div class="finletter4">
                <img src="/maomao.gif" alt="navi">
            </div>
        </div>
        <div class="returnbutton">
            <div class="returnbutton2">
                <a href='/'></a>
                <div class="botan_moji">
                    <span>トップページへ</span>
                </div>
            </div>
        </div>
    </div>
</div>
