<div class="entryfin_haikei">
    <div class="entryfin_haikei2">
        <div class="etnavigation">
            <img src="/kanryou3.svg" alt="navi">
        </div>
        <span class='etletter'>入会の申し込みありがとうございます！</span>
        <h2></h2>
        <div class="contactnumber">
            <div class="contactnumber2">
                <div class="contactnumberLetter">
                    <span class="contactnumberLetter2">
                        入会申し込み番号
                    </span>
                    <div class="line"></div>
                    <span class="contactnumberLetter3">
                        <%= @entry.securenumber %>
                    </span>
                </div>
            </div>
        </div>
        <div class="etfinletter">
            <div class="etfinletter2">
                <span class="etfinletter3">
                    メールにて、入会の確認情報および初回面談の持ち物をお送りいたします。ご確認をお願いいたします。
                </span>
                <span class="etfinletter4">
                    ＊メールが届かない際には、お問い合わせフォームよりご連絡ください。その際、上記申し込み番号をお知らせください。
                </span>
            </div>
        </div>
        <div class="returnbutton">
            <div class="returnbutton3">
                <div class="returnbutton2">
                    <a href='/'></a>
                    <div class="botan_moji">
                        <span>トップページへ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
