.aboutus_haikei {
    background-color: #999999;
    margin: 0;
    padding: 130px 130px 50px 130px;
    z-index: 1;
    

    .aboutus_haikei2 {
        width: 900px;
        margin: 5% auto;
        background-color: white;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
        padding-bottom: 60px;
        // text-align: center;
        
        .aboutus_haikei3 {
            width: 80%;
            margin: 0 auto;
            padding-top: 3%;
            
            .aboutUstitle {
                color: #000000;
                font-size: 37px;
                width: 100%;
                padding-top: 5%;
            }
            
            h2 {
                border-bottom: solid 3px #d2d2d2;
                position: relative;
                margin: 1rem 0;
            }
            
            h2:after {
                content: "";
                display: block;
                line-height: 0;
                overflow: hidden;
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 20%;
                border-bottom: 3px solid #942a2a;
            }
            
            .aboutUscontent {
                width: 80%;
                padding: 3% 5%;
                // margin: 0 auto;
                .aboutUscontent2 {
                    padding: 5% 0 0 3%;
                    .aboutUstitle2 {
                        color: #942a2a;
                        font-size: 22px;
                        padding: 3% 0 6%;
                    }
                    .aboutUstext {
                        color: #000000;
                        font-size: 22px;
                    }
                    .line {
                        width: 90%;
                        border-bottom: 1px solid #d2d2d2;
                        margin: 20px auto;
                    }
                }
                
            }
        }
    }

}
