/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// .css-selector { 
//     font-family: 'Kosugi Maru', sans-serif;
// }

* { 
    font-family: 'Kosugi Maru', sans-serif;
}

@media (max-width: 499px) {
    
    body {
        margin: 0;
        padding: 0;
    }
    
    header {
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    }
    
    footer {
        height: 120px;
        background-color: #cccccc;
        width: 100%;
    }
    
    .fjoudan {
        position: relative;
        height: 90px;
        box-sizing: border-box;
    }

        
    .title {
        border: solid 1px #c97e83;
        background-color: #c97e83;
        height: 150px;
        box-sizing: border-box;    
    }

    .mediataiou{
        position: relative;
    }
    
    .header1 {
        box-sizing: border-box;
        width: 100%;
    }
    
    .logo {
        width: 225px;
        // text-align: center;
        margin-left: 20px;
    }
    
    
    .logo1{
        margin: 15px 0 0 0;
        font-size: 14px;
        color: #49352a;
    }
    
    
    .logo2 a{
        color: #ffffff;
        font-size: 30px;
        text-decoration: none;
        line-height: 1.3; 
    }
    
    .logo3 span {
        color: #ffffff;
        font-size: 14px;
    }
    
    
    .header2{
        position: absolute;
        bottom: 10px;
        right: 15px;
        float: right;
        height: 70%;
        box-sizing: border-box;
        width: 80%;
        line-height: 1.15;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .gengo {
        // height: 100%;
        float: right;
        width: 15%;
        box-sizing: border-box;
        margin: 67px 0 0 0;
    }
    
    .gengo2 {
        height: 50%;
        // padding: 10px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 6px;
    }
    
    .gengo22 {
        border: solid 2px #ffffff;
        border-radius: 4px;
        background-color: #49352a;
        box-shadow: 1px 1px gray;
    }

    .gengo22 a:hover{
        color: #49352a;
    }
    
    .gengo2 a{
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        // line-height: 1.15;
    }
    
    .gengo2 a span{
        display: inline-block;
        text-indent: -9999px;
    }
    
    .annai {
        float: right;
        width: 80%;
        margin-top: 60px;
        box-sizing: border-box;
        
    }
    
    .annai2 {
        width: 30%;
        padding: 2px 5px;
        float: left;
        box-sizing: border-box;
        margin: 4px 5px 0 0;
    }
    
    .annai3 {
        padding: 6px;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 1px 1px gray;
        position: relative;
    }
    
    .annai3 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 0;
    }
    
    .annai3 span {
        display: block;
        color: #000000;
        text-decoration: none;
        text-align: center;
        font-size: 16px;        
    }
    
    .annai3:hover {
        background-color:  #942a2a;

       span {
            color: white;
        }
    }  
    
    .nyukai {
        background-color: #942a2a;
        border: solid 2px #ffffff;
        padding: 4px;

        span {
            color: #ffffff;
        }
    }

    .nyukai:hover {
        background-color: #ffffff;
        
        span {
            color: #000000;
        }
    }
    
    .links {
        width: 50%;
    }
    
    .links ul {
        margin: 0;
        padding: 18px 50px 13px 12px;
        list-style: none;
    }
    
    .links ul:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .links li {
        float: left;
        width: auto;
        border-right: solid 1px #696969;
    }
    
    .links li a {
        display: block;
        padding: 0 13px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
    }
    
    .links li a:hover {
        background-color: #c97e83;
        color: #ffffff;
    }
    
    .sns{
        position: absolute;
        top: 15px;
        right: 5px;       
    }
    
    .sns2{
        margin: 0 10px;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        float: right;
        border-radius: 8px;
        box-shadow: 1px 1px gray;
    }
    
    .instagram a img {
        width: 49px;
        height: 49px;
    }
    
    .twitter a img {
        width: 50px;
        height: 50px;
    }
    
    .weibo {
        padding: 3px;
    }
    
    .weibo a img {
        width: 44px;
        height: 44px;
    }
    
    .copyright {
        height: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    
}

@media (min-width: 500px) and (max-width: 767px) {
    
    body {
        margin: 0;
        padding: 0;
    }
    
    header {
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    }
    
    footer {
        height: 120px;
        background-color: #cccccc;
        width: 100%;
    }
    
    .fjoudan {
        position: relative;
        height: 90px;
        box-sizing: border-box;
    }

        
    .title {
        border: solid 1px #c97e83;
        background-color: #c97e83;
        height: 120px;
        box-sizing: border-box;    
    }
    
    .mediataiou{
        position: relative;
    }
    
    .header1 {
        box-sizing: border-box;
        width: 50%;
    }
    
    .logo {
        width: 225px;
        text-align: center;
    }
    
    
    .logo1{
        margin: 15px 0 0 -30px;
        font-size: 14px;
        color: #49352a;
    }
    
    
    .logo2 a{
        color: #ffffff;
        font-size: 36px;
        text-decoration: none;
        line-height: 1.3; 
    }
    
    .logo3 span {
        color: #ffffff;
        font-size: 14px;
    }
    
    
    .header2{
        position: absolute;
        bottom: 10px;
        right: 15px;
        float: right;
        width: 50%;
        height: 70%;
        box-sizing: border-box;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .gengo {
        float: right;
        width: 15%;
        height: 100%;
        box-sizing: border-box;
        margin: 10px 0 0 0;
    }
    
    .gengo2 {
        height: 50%;
        // padding: 10px;
        text-align: center;
        box-sizing: border-box;
    }
    
    .gengo22 {
        border: solid 2px #ffffff;
        border-radius: 4px;
        background-color: #49352a;
        box-shadow: 1px 1px gray;
    }

    .gengo22 a:hover{
        color: #49352a;
    }
    
    .gengo2 a{
        color: #ffffff;
        text-decoration: none;
    }
    
    .gengo2 a span{
        display: inline-block;
        text-indent: -9999px;
    }
    
    .annai {
        float: right;
        width: 80%;
        height: 100%;
        box-sizing: border-box;
    }
    
    .annai2 {
        width: 30%;
        padding: 2px;
        float: left;
        box-sizing: border-box;
        margin: 6px 5px 0 0;
    }
    
    .annai3 {
        padding: 6px;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 1px 1px gray;
        position: relative;
    }
    
    .annai3 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 0;        
    }
    
    .annai3 span {
        display: block;
        color: #000000;
        text-decoration: none;
        text-align: center;
        font-size: 17px;        
    }
    
    .annai3:hover {
        background-color:  #942a2a;

       span {
            color: white;
        }
    }  
    
    .nyukai {
        background-color: #942a2a;
        border: solid 2px #ffffff;
        padding: 4px;

        span {
            color: #ffffff;
        }
    }

    .nyukai:hover {
        background-color: #ffffff;
        
        span {
            color: #000000;
        }
    }
    
    
    .links {
        width: 50%;
    }
    
    .links ul {
        margin: 0;
        padding: 18px 50px 13px 12px;
        list-style: none;
    }
    
    .links ul:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .links li {
        float: left;
        width: auto;
        border-right: solid 1px #696969;
    }
    
    .links li a {
        display: block;
        padding: 0 13px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
    }
    
    .links li a:hover {
        background-color: #c97e83;
        color: #ffffff;
        
    }
    
    .sns{
        position: absolute;
        top: 15px;
        right: 5px;       
    }
    
    .sns2{
        margin: 0 10px;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        float: right;
        border-radius: 8px;
        box-shadow: 1px 1px gray;
    }
    
    .instagram a img {
        width: 49px;
        height: 49px;
    }
    
    .twitter a img {
        width: 50px;
        height: 50px;
    }
    
    .weibo {
        padding: 3px;
    }
    
    .weibo a img {
        width: 44px;
        height: 44px;
    }
    
    .copyright {
        height: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    
}    

@media (min-width: 768px) and (max-width: 1019px) {
   
    body {
        margin: 0;
        padding: 0;
    }
    
    header {
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    }
    
    footer {
        height: 120px;
        background-color: #cccccc;
        width: 100%;
    }
    
    .fjoudan {
        position: relative;
        height: 90px;
        box-sizing: border-box;
    }
    
    .title {
        border: solid 1px #c97e83;
        background-color: #c97e83;
        height: 120px;
        box-sizing: border-box;    
    }
    
    .mediataiou{
        position: relative;
    }
    
    .header1 {
        box-sizing: border-box;
        width: 50%;
    }
    
    .logo {
        width: 225px;
        text-align: center;
    }
    
    
    .logo1{
        margin: 10px 0 0 -20px;
        font-size: 16px;
        color: #49352a;
    }
    
    
    .logo2 a{
        color: #ffffff;
        font-size: 38px;
        text-decoration: none;
        line-height: 1.3; 
    }
    
    .logo3 span {
        color: #ffffff;
        font-size: 16px;
    }
    
    
    .header2{
        position: absolute;
        bottom: 10px;
        right: 15px;
        float: right;
        width: 50%;
        height: 70%;
        box-sizing: border-box;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .gengo {
        float: right;
        width: 15%;
        height: 100%;
        box-sizing: border-box;
    
    }
    
    .gengo2 {
        height: 50%;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
    }
    
    .gengo22 {
        border: solid 2px #ffffff;
        border-radius: 4px;
        background-color: #49352a;
        box-shadow: 1px 1px gray;
    }

    .gengo22 a:hover{
        color: #49352a;
    }
    
    .gengo2 a{
        color: #ffffff;
        text-decoration: none;
    }
    
    .gengo2 a span{
        display: inline-block;
        text-indent: -9999px;
    }
    
    .annai {
        float: right;
        width: 68%;
        height: 100%;
        box-sizing: border-box;
    }
    
    .annai2 {
        width: 33.333%;
        padding: 10px;
        float: left;
        box-sizing: border-box;
    }
    
    .annai3 {
        padding: 6px;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 1px 1px gray;
        position: relative;
    }
    
    .annai3 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 0;        
    }
    
    .annai3 span {
        display: block;
        color: #000000;
        text-decoration: none;
        text-align: center;
        font-size: 17px;        
    }
    
    .annai3:hover {
        background-color:  #942a2a;

       span {
            color: white;
        }
    }   
    
    .nyukai {
        background-color: #942a2a;
        border: solid 2px #ffffff;
        padding: 4px;

        span {
            color: #ffffff;
        }
    }

    .nyukai:hover {
        background-color: #ffffff;
        
        span {
            color: #000000;
        }
    }

    
    .links {
        width: 50%;
    }
    
    .links ul {
        margin: 0;
        padding: 26px;
        list-style: none;
    }
    
    .links ul:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .links li {
        float: left;
        width: auto;
        border-right: solid 1px #696969;
    }
    
    .links li a {
        display: block;
        padding: 0 13px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
    }
    
    .links li a:hover {
        background-color: #c97e83;
        color: #ffffff;
        
    }
    
    .sns{
        position: absolute;
        top: 20px;
        right: 35px;        
    }
    
    .sns2{
        margin: 0 15px;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        float: right;
        border-radius: 8px;
        box-shadow: 1px 1px gray;
    }
    
    .instagram a img {
        width: 49px;
        height: 49px;
    }
    
    .twitter a img {
        width: 50px;
        height: 50px;
    }
    
    .weibo {
        padding: 3px;
    }
    
    .weibo a img {
        width: 44px;
        height: 44px;
    }
    
    .copyright {
        height: 20px;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (min-width: 1020px) {
    
    body {
        margin: 0;
        padding: 0;
    }
    
    header {
        margin: 0;
        padding: 0;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    
    footer {
        height: 120px;
        background-color: #cccccc;
        width: 100%;
    }
    
    .fjoudan {
        position: relative;
        height: 90px;
        box-sizing: border-box;
    }
    
    // ここから上共通
    
    .title {
        // position: relative;
        border: solid 1px #c97e83;
        background-color: #c97e83;
        height: 120px;
        box-sizing: border-box;
        // border-bottom: 2px solid #cececeac;
        // box-shadow: 1px 1px gray;

    }
    
    .mediataiou{
        position: relative;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header1 {
        box-sizing: border-box;
        width: 50%;
    }
    
    .logo {
        width: 225px;
        text-align: center;
    }
    
    
    .logo1{
        margin: 10px 0 0 -20px;
        font-size: 16px;
        color: #49352a;
    }
    
    
    .logo2 a{
        color: #ffffff;
        font-size: 38px;
        text-decoration: none;
        line-height: 1.3; 
    }
    
    .logo3 span {
        color: #ffffff;
        font-size: 16px;
    }
    
    
    .header2{
        position: absolute;
        bottom: 10px;
        right: 10px;
        float: right;
        width: 50%;
        height: 70%;
        box-sizing: border-box;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .gengo {
        float: right;
        width: 15%;
        height: 100%;
        box-sizing: border-box;
    
    }
    
    .gengo2 {
        height: 50%;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
    }
    
    .gengo22 {
        border: solid 2px #ffffff;
        border-radius: 4px;
        background-color: #5e3f32;
        box-shadow: 1px 1px gray;
    }
    
    .gengo22 a {
        font-size: 13px;
    }
    
    .gengo2 a{
        color: #ffffff;
        text-decoration: none;
    }

    .gengo22 a:hover{
        color: #49352a;
    }
    
    .annai {
        float: right;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
    }
    
    .annai2 {
        width: 33.333%;
        padding: 5px 10px;
        float: left;
        box-sizing: border-box;
        // padding: 10px 25px 10px 10px;
    }
    
    .annai3 {
        padding: 10px;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 1px 1px gray;
        
        position: relative;
    }
    
    .annai3 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 0;        
    }
    
    .annai3 span {
        display: block;
        color: #000000;
        text-decoration: none;
        text-align: center;
        font-size: 17px;        
    }
    
    .annai3:hover {
        background-color:  #942a2a;

       span {
            color: white;
        }
    }
    
    .nyukai {
        background-color: #942a2a;
        border: solid 2px #ffffff;
        padding: 8px;
        
        span {
            color: #ffffff;
        }
    }

    .nyukai:hover {
        background-color: #ffffff;
        
        span {
            color: #000000;
        }
    }

    
    // .annai3 a {
    //     display: block;
    //     color: #000000;
    //     text-decoration: none;
    //     text-align: center;
    //     font-size: 17px;
    // }

    .links {
        width: 50%;
    }
    
    .links ul {
        margin: 0;
        padding: 26px;
        list-style: none;
    }
    
    .links ul:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .links li {
        float: left;
        width: auto;
        border-right: solid 1px #696969;
    }
    
    .links li a {
        display: block;
        padding: 0 13px;
        color: #000000;
        font-size: 16px;
        text-decoration: none;
    }
    
    .links li a:hover {
        background-color: #c97e83;
        color: #ffffff;
    }
    
    .sns{
        position: absolute;
        top: 20px;
        right: 35px;        
    }
    
    .sns2{
        margin: 0 15px;
        width: 60px;
        height: 60px;
        background-color: #ffffff;
        float: right;
        border-radius: 8px;
        box-shadow: 1px 1px gray;
    }
    
    .instagram a img {
        width: 59px;
        height: 59px;
    }
    
    .twitter a img {
        width: 60px;
        height: 60px;
    }
    
    .weibo {
        padding: 6px;
    }
    
    .weibo a img {
        width: 48px;
        height: 48px;
    }
    
    .copyright {
        height: 20px;
        box-sizing: border-box;
        text-align: center;
    }
}

// 以下保存用
// body {
//     margin: 0;
//     padding: 0;
// }

// header {
//     margin: 0;
//     padding: 0;
// }

// .title {
//     // position: relative;
//     border: solid 1px #dddddd;
//     background-color: #c97e83;
//     height: 120px;
//     box-sizing: border-box;    
// }

// .mediataiou{
//     position: relative;
// }

// .header1 {
//     box-sizing: border-box;
//     width: 50%;
// }

// .logo {
//     width: 225px;
//     text-align: center;
// }


// .logo1{
//     margin: 10px 0 0 -20px;
//     font-size: 16px;
//     color: #49352a;
// }


// .logo2 a{
//     color: #ffffff;
//     font-size: 38px;
//     text-decoration: none;
//     line-height: 1.3; 
// }

// .logo3 span {
//     color: #ffffff;
//     font-size: 16px;
// }


// .header2{
//     position: absolute;
//     bottom: 10px;
//     right: 10px;
//     float: right;
//     width: 50%;
//     height: 70%;
//     box-sizing: border-box;
// }

// .clearfix:after {
//     content: "";
//     display: block;
//     clear: both;
// }

// .gengo {
//     float: right;
//     width: 15%;
//     height: 100%;
//     box-sizing: border-box;

// }

// .gengo2 {
//     height: 50%;
//     padding: 10px;
//     text-align: center;
//     box-sizing: border-box;
// }

// .gengo22 {
//     border: solid 2px #ffffff;
//     border-radius: 4px;
//     background-color: #942a2a;
//     box-shadow: 1px 1px gray;
// }

// .gengo2 a{
//     color: #ffffff;
//     text-decoration: none;
// }


// .annai {
//     float: right;
//     width: 50%;
//     height: 100%;
//     box-sizing: border-box;
// }

// .annai2 {
//     width: 33.333%;
//     padding: 5px 10px;
//     float: left;
//     box-sizing: border-box;
//     // padding: 10px 25px 10px 10px;
// }

// .annai3 {
//     padding: 10px;
//     border-radius: 6px;
//     background-color: #ffffff;
//     box-shadow: 1px 1px gray;
// }

// .annai3 a {
//     display: block;
//     color: #000000;
//     text-decoration: none;
//     text-align: center;
//     font-size: 17px;
// }

// footer {
//     height: 120px;
//     background-color: #cccccc;
//     width: 100%;
// }

// .fjoudan {
//     position: relative;
//     height: 90px;
//     box-sizing: border-box;
// }

// .links {
//     width: 50%;
// }

// .links ul {
//     margin: 0;
//     padding: 26px;
//     list-style: none;
// }

// .links ul:after {
//     content: "";
//     display: block;
//     clear: both;
// }

// .links li {
//     float: left;
//     width: auto;
//     border-right: solid 1px #696969;
// }

// .links li a {
//     display: block;
//     padding: 0 13px;
//     color: #000000;
//     font-size: 16px;
//     text-decoration: none;
// }

// .links li a:hover {
//     background-color: #c97e83;
//     color: #ffffff;
    
// }

// .sns{
//     position: absolute;
//     top: 20px;
//     right: 35px;        
// }

// .sns2{
//     margin: 0 15px;
//     width: 60px;
//     height: 60px;
//     background-color: #ffffff;
//     float: right;
//     border-radius: 8px;
//     box-shadow: 1px 1px gray;
// }

// .instagram a img {
//     width: 59px;
//     height: 59px;
// }

// .twitter a img {
//     width: 60px;
//     height: 60px;
// }

// .weibo {
//     padding: 6px;
// }

// .weibo a img {
//     width: 48px;
//     height: 48px;
// }

// .copyright {
//     height: 20px;
//     box-sizing: border-box;
//     text-align: center;
// }




// --------
// @media (min-width: 1200px) {
//     .mediataiou {
//         width: 1180px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }